.post-edit-form {
    padding: 1rem;
}

.form-row {

}

.form-row-inline {
    display: flex;
    align-items: flex-end;
}

.form-control-inline {
    &.grow {
        flex-grow: 1;
    }

    margin: 0 1rem 0 0;

    &:last-child {
        margin: inherit;
    }
}

.form-value-static {

}

.jb-mat-radio-group {
    display: flex;
    flex-direction: row;
}

.jb-mat-radio-control {
    padding: 0 0.5rem;
}

.form-control {
    width: 100%;
    padding-right: 1rem;

    &:last-child {
        padding-right: inherit;
    }
}

.ace-editor-brief-container {
    height: 100px;
    display: block;
}

.ace-editor-content-container {
    height: 300px;
    display: block;
}

.content-preview {
    height: 300px;
    overflow-y: auto;
}

.attachment-info {
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.visible-if-mouse-in-control {
    visibility: hidden;
}

.control-to-set-visibility:hover {
    .visible-if-mouse-in-control {
        visibility: visible;
    }
}

.invalid-border {
    border: 1px solid #f44336;
}

.invalid-label {
    color: #f44336;
}
