.post-edit-form {
    padding: 1rem;
}

.form-row {

}

.form-row-inline {
    display: flex;
    align-items: flex-end;
}

.form-control-inline {
    &.grow {
        flex-grow: 1;
    }

    margin: 0 1rem 0 0;

    &:last-child {
        margin: inherit;
    }
}

.form-value-static {

}

.jb-mat-radio-group {
    display: flex;
    flex-direction: column;
}

.jb-material-radio-control {
    padding: 0.3rem 0;
}

.form-control {
    width: 100%;
    padding-right: 1rem;

    &:last-child {
        padding-right: inherit;
    }
}

.ace-editor-brief-container {
    height: 100px;
    display: block;
}

.ace-editor-content-container {
    height: 300px;
    display: block;
}

.content-preview {
    height: 300px;
    overflow-y: auto;
}
