<ng-template #toInjectToMenu>
    <button
        type="button"
        mat-stroked-button
        color="primary"
        class="nav-item"
        [disabled]="PostEditForm.pristine || PostEditForm.invalid"
    >
        <i class="fas fa-cloud-upload-alt"></i>
        Save
    </button>
</ng-template>

<div class="post-edit-form">
    <form [formGroup]="PostEditForm">
        <div class="form-row-inline">
            <mat-form-field class="form-control-inline">
                <mat-label>Status</mat-label>
                <jb-adm-material-static-form-field>
                    <jb-adm-post-status-badge
                        [status]="post.status"
                        class="form-control-plaintext"
                    ></jb-adm-post-status-badge>
                </jb-adm-material-static-form-field>
            </mat-form-field>
            <mat-form-field class="form-control-inline grow">
                <mat-label>Create date</mat-label>
                <jb-adm-material-static-form-field>
                    <span
                        class="form-value-static"
                        [ngClass]="{'text-muted': !post.createDate}"
                    >
                    {{post.createDate | date : 'shortDate' | defaultDisplayText : 'Not saved yet'}}
                    </span>
                </jb-adm-material-static-form-field>
            </mat-form-field>
            <mat-form-field class="form-control-inline grow">
                <mat-label>Last change</mat-label>
                <jb-adm-material-static-form-field>
                    <span
                        class="form-value-static"
                        [ngClass]="{'text-muted': !post.updateDate}"
                    >
                    {{post.updateDate | date : 'shortDate' | defaultDisplayText : 'Not saved yet'}}
                </span>
                </jb-adm-material-static-form-field>
            </mat-form-field>
            <mat-form-field class="form-control-inline grow">
                <mat-label>Publish date</mat-label>
                <jb-adm-material-static-form-field>
                    <span
                        class="form-value-static"
                        [ngClass]="{'text-muted': !post.pubDate}"
                    >
                    {{post.pubDate | date : 'shortDate' | defaultDisplayText : 'Not published yet'}}
                </span>
                </jb-adm-material-static-form-field>
            </mat-form-field>
        </div>
        <div class="form-row-inline">
            <mat-form-field class="form-control-inline grow">
                <mat-label>Who can read</mat-label>
                <mat-select formControlName="allowRead">
                    <mat-option
                        *ngFor="let allowReadOption of PostAllowReadOptions"
                        [value]="allowReadOption"
                    >{{allowReadOption | postAllowReadDisplay}}</mat-option>

                </mat-select>
            </mat-form-field>
            <mat-form-field class="form-control-inline grow" floatLabel="always">
                <mat-label>URL</mat-label>
                <input matInput type="text" formControlName="hru" [placeholder]="post._id || 'Custom url'"/>
                <button
                    type="button"
                    mat-button
                    *ngIf="PostEditForm.value.hru"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="PostEditForm.patchValue({hru: null})"
                >
                    <i class="fas fa-times"></i>
                </button>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field class="form-control" floatLabel="always">
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title" placeholder="Enter title" required/>
                <button
                    type="button"
                    mat-button
                    *ngIf="PostEditForm.value.title"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="PostEditForm.patchValue({title: null})"
                >
                    <i class="fas fa-times"></i>
                </button>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field class="form-control" floatLabel="always">
                <mat-label>Title image</mat-label>
                <jb-adm-title-image-form-chooser formControlName="titleImg"></jb-adm-title-image-form-chooser>
            </mat-form-field>
        </div>
        <div class="form-row">
            <jb-adm-tags-form-control formControlName="tags"></jb-adm-tags-form-control>
        </div>
        <div class="form-row">
            <mat-form-field class="form-control mat-form-field__hide-underline">
                <mat-label>Attached files</mat-label>
                <jb-adm-material-static-form-field>
                    <div class="mat-body text-muted" *ngIf="!post._id">
                        <div class="form-value-static">
                            Save post before attach file to it.
                        </div>
                    </div>
                    <div class="" *ngIf="post._id">
                        <!--<div>-->
                        <div class="">
                            <button
                                type="button"
                                mat-stroked-button
                                color="primary"
                                class=""
                                (click)="onFileAttachmentsAddClick($event)"
                            >
                                <i class="fas fa-plus"></i>
                                Add attachment
                            </button>
                        </div>
                        <div
                            *ngFor="let fileInfo of post.attachments; index as ind"
                            class="attachment-info mat-elevation-z3 control-to-set-visibility"
                        >
                            <div class="jb-flex">
                                <div class="">
                                    <i
                                        class="jb-light-accent-color"
                                        [ngClass]="fileInfo.contentType | contentTypeToIcon"
                                    ></i>
                                </div>
                                <div class="jb-flex__item-fill jb-m-0-05">
                                    <div class="mat-body">
                                        <a [href]="fileInfo.url | prependBackendHost">
                                            {{fileInfo.metadata.originalName}}
                                        </a>
                                    </div>
                                    <div class="mat-body text-muted">{{fileInfo.metadata.description}}</div>
                                    <div class="mat-body text-muted">{{fileInfo.contentType}}</div>
                                    <div class="mat-body text-muted">{{fileInfo.length}} bytes</div>
                                </div>
                                <div>
                                    <button
                                        type="button"
                                        mat-mini-fab
                                        color="warn"
                                        (click)="onRemoveAttachmentButtonClick(ind)"
                                        class="visible-if-mouse-in-control"
                                        title="Remove attachment forever"
                                    >
                                        <i class="fas fa-minus-square"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </jb-adm-material-static-form-field>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field class="form-control">
                <mat-label>Post content type</mat-label>
                <jb-adm-material-static-form-field [disabled]="false">
                    <mat-radio-group class="jb-mat-radio-group mat-body" formControlName="contentType">
                        <mat-radio-button
                            *ngFor="let postContentTypeOption of PostContentTypeOptions" class="jb-mat-radio-control"
                            [value]="postContentTypeOption"
                        >
                            {{postContentTypeOption | postContentTypeDisplay}}
                        </mat-radio-button>
                    </mat-radio-group>
                </jb-adm-material-static-form-field>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field class="form-control mat-form-field__hide-underline">
                <mat-label>Post brief</mat-label>
                <jb-adm-material-static-form-field>
                    <jb-adm-ace-editor
                        class="ace-editor-brief-container form-control pt-1 pb-1 pl-0 pr-0"
                        formControlName="brief" [mode]="PostEditForm.value.contentType"
                    ></jb-adm-ace-editor>
                </jb-adm-material-static-form-field>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field class="form-control mat-form-field__hide-underline">
                <mat-label>Post content</mat-label>
                <jb-adm-material-static-form-field>
                    <mat-button-toggle-group formControlName="contentPresentationMode" class="jb-mb-05">
                        <mat-button-toggle
                            *ngFor="let contentPresentationModeOption of ContentPresentationModeOptions"
                            [value]="contentPresentationModeOption.code"
                            class="mat-caption"
                        >
                            <i [ngClass]="contentPresentationModeOption.icon"></i>
                            {{contentPresentationModeOption.code | contentPresentationModeDisplay}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <ng-container [ngSwitch]="PostEditForm.value.contentPresentationMode">
                        <ng-container *ngSwitchCase="ContentPresentationModeValues.EDIT">
                            <jb-adm-ace-editor
                                class="ace-editor-content-container form-control pt-1 pb-1 pl-0 pr-0"
                                formControlName="content"
                                [mode]="PostEditForm.value.contentType"
                            ></jb-adm-ace-editor>
                        </ng-container>
                        <ng-container *ngSwitchCase="ContentPresentationModeValues.PREVIEW">
                            <div
                                class="content-preview border border-secondary"
                                [innerHTML]="PostEditForm.value.content | postContentPreview : PostEditForm.value.contentType.value"
                            ></div>
                        </ng-container>
                    </ng-container>
                </jb-adm-material-static-form-field>
            </mat-form-field>
        </div>
    </form>
    <div>
        Form: pristine:{{PostEditForm.pristine}} touched:{{PostEditForm.touched}} status:{{PostEditForm.status}}
    </div>
</div>
