<div class="search-form">
    <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit(searchForm.value)">
        <div class="form-row">
            <div class="form-control">
                <mat-form-field class="jb-full-width">
                    <input
                        matInput
                        type="text"
                        formControlName="q"
                        class="form-control"
                        placeholder="Text"
                    />
                    <button
                        type="button"
                        mat-button
                        *ngIf="searchForm.value.q"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="searchForm.patchValue({q: null})"
                    >
                        <i class="fas fa-times"></i>
                    </button>
                </mat-form-field>
            </div>
            <div class="form-control">
                <mat-form-field class="jb-full-width">
                    <input matInput type="text" [matDatepicker]="pickerFrom" placeholder="From" formControlName="from"/>
                    <button
                        type="button"
                        mat-button
                        *ngIf="searchForm.value.from"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="searchForm.patchValue({from: null})"
                    >
                        <i class="fas fa-times"></i>
                    </button>
                    <button
                        type="button"
                        mat-button
                        matSuffix
                        mat-icon-button
                        aria-label="Choose"
                        (click)="pickerFrom.open()"
                    >
                        <i class="far fa-calendar-alt"></i>
                    </button>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-control">
                <mat-form-field class="jb-full-width">
                    <input matInput type="text" [matDatepicker]="pickerTo" placeholder="To" formControlName="to"/>
                    <button
                        type="button"
                        mat-button
                        *ngIf="searchForm.value.to"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="searchForm.patchValue({to: null})"
                    >
                        <i class="fas fa-times"></i>
                    </button>
                    <button
                        type="button"
                        mat-button
                        matSuffix
                        mat-icon-button
                        aria-label="Choose"
                        (click)="pickerTo.open()"
                    >
                        <i class="far fa-calendar-alt"></i>
                    </button>
                    <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div>
            <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="!searchForm.valid"
            >
                <i class="fas fa-search"></i>
                Search
            </button>
        </div>
    </form>
</div>
