<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row mb-2" *ngIf="!(FileEditForm.value.files && FileEditForm.value.files.length)">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="fileInputRef.click()">
                <i class="fas fa-file-upload"></i>
                Choose file
            </button>
        </div>
    </div>
    <div class="row mb-2" *ngIf="FileEditForm.value.files && FileEditForm.value.files.length">
        <div class="col">
            <div class="d-flex">
                <div class="text-info mr-2">
                    <i [ngClass]="FileEditForm.value.files[0].type | contentTypeToIcon"></i>
                </div>
                <div class="pr-2 flex-fill">
                    <div>{{FileEditForm.value.files[0].name}}</div>
                    <div class="text-secondary small">{{FileEditForm.value.files[0].size}} bytes</div>
                </div>
                <div>
                    <button
                        type="button"
                        (click)="FileEditForm.patchValue({files: null})"
                        class="btn btn-sm btn-outline-secondary"
                        title="Cancel and choose another file"
                    >
                        <i class="fas fa-minus-square"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="FileEditForm">
        <input type="file" jbAdmFileInput style="display:none" formControlName="files" #fileInputRef/>
        <input class="form-control" type="text" formControlName="description" placeholder="Short description"/>
    </form>
</div>
<div class="modal-footer">
    <button
        type="button" class="btn btn-outline-primary" (click)="onSubmit(FileEditForm.value)" ngbAutofocus
        [disabled]="waiting || FileEditForm.invalid"
    >
        <i class="fas" [ngClass]="{'fa-spin fa-sync': waiting, 'fa-upload': !waiting}"></i>
        Upload
    </button>
</div>
