<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss(commonDialogResults.CANCEL)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="d-flex">
        <div [ngSwitch]="commonDialogType" class="mr-2 text-danger" style="font-size: 2rem;">
            <i *ngSwitchCase="commonDialogTypes.INFO" class="fas fa-info-circle"></i>
            <i *ngSwitchCase="commonDialogTypes.CONFIRM" class="fas fa-check-circle"></i>
            <i *ngSwitchCase="commonDialogTypes.ERROR" class="fas fa-exclamation-circle"></i>
        </div>
        <div class="flex-fill" [innerHTML]="message"></div>
    </div>
</div>
<div class="modal-footer">
    <button
        *ngIf="commonDialogType===commonDialogTypes.ERROR || commonDialogType===commonDialogTypes.INFO"
        type="button"
        class="btn btn-outline-primary"
        (click)="close(commonDialogResults.OK)"
    >
        <i class="fas fa-check"></i>
        OK
    </button>
    <button
        *ngIf="commonDialogType===commonDialogTypes.CONFIRM"
        type="button"
        class="btn btn-outline-danger"
        (click)="close(commonDialogResults.YES)"
    >
        <i class="fas fa-check"></i>
        Yes
    </button>
    <button
        *ngIf="commonDialogType===commonDialogTypes.CONFIRM"
        type="button"
        class="btn btn-outline-secondary"
        (click)="close(commonDialogResults.NO)"
    >
        No
    </button>
</div>
