<h1 mat-dialog-title>{{title}}</h1>

<div mat-dialog-content>
    <div class="jb-flex">
        <div [ngSwitch]="commonDialogType" class="jb-light-accent-color" style="font-size: 2rem;">
            <i *ngSwitchCase="commonDialogTypes.INFO" class="fas fa-info-circle"></i>
            <i *ngSwitchCase="commonDialogTypes.CONFIRM" class="fas fa-check-circle"></i>
            <i *ngSwitchCase="commonDialogTypes.ERROR" class="fas fa-exclamation-circle"></i>
        </div>
        <div class="jb-flex__item-fill jb-m-0-05 mat-body" [innerHTML]="message"></div>
    </div>
</div>

<div mat-dialog-actions>
    <button
        *ngIf="commonDialogType===commonDialogTypes.ERROR || commonDialogType===commonDialogTypes.INFO"
        type="button"
        mat-raised-button
        color="primary"
        (click)="modalRef.close(commonDialogResults.OK)"
    >
        <i class="fas fa-check"></i>
        OK
    </button>
    <button
        *ngIf="commonDialogType===commonDialogTypes.CONFIRM"
        type="button"
        mat-raised-button
        color="primary"
        (click)="modalRef.close(commonDialogResults.YES)"
    >
        <i class="fas fa-check"></i>
        Yes
    </button>
    <button
        *ngIf="commonDialogType===commonDialogTypes.CONFIRM"
        type="button"
        mat-button
        (click)="modalRef.close(commonDialogResults.NO)"
    >
        No
    </button>
</div>
