<div class="modal-header">
    <h4 class="modal-title">Add image</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="AvatarEditForm">
        <jb-adm-jb-cropper [croppieOptions]="croppieOptions"
                           formControlName="cropper"
                           class="border rounded d-block mb-2 p-2"
                           [ngClass]="{'border-danger': AvatarEditForm.controls.cropper.invalid}"
                           #cropperRef></jb-adm-jb-cropper>
        <input class="form-control" type="text" formControlName="description" placeholder="Short description"/>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onSubmit(AvatarEditForm.value, cropperRef.croppie)" ngbAutofocus [disabled]="waiting || AvatarEditForm.invalid">
        <i class="fas" [ngClass]="{'fa-spin fa-sync': waiting, 'fa-file-upload': !waiting}"></i>
        Save
    </button>
</div>
