<header>
    <nav class="app-header-nav mat-elevation-z6">
        <a mat-button routerLink="/posts" class="nav-item" routerLinkActive="active" [disabled]="active">
            <i class="fas fa-home"></i>
            Home
        </a>
        <a mat-button class="nav-item" routerLink="/post/new" routerLinkActive="active" [disabled]="active">
            <i class="fas fa-plus-square"></i>
            New post
        </a>
        <a mat-button class="nav-item" routerLink="/foo" routerLinkActive="active" [disabled]="active">Link to 404</a>
        <a *ngIf="loggedIn" mat-button class="nav-item" routerLink="/login" routerLinkActive="active" [disabled]="active">
            <i class="fas fa-sign-out-alt"></i>
            Logout
        </a>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>

</footer>
