.sticky-header {
    position: sticky;
    top: 0px;
    z-index: 32;
}

.app-header-nav {
    padding: 0.5rem;
    .nav-item {
        margin-right: 0.2rem;

        &:last-child {
            margin-right: inherit;
        }

        &.active {
            pointer-events: none;
        }
    }
}
