.app-header-nav {
    padding: 0.5rem;
    .nav-item {
        margin-right: 0.2rem;

        &:last-child {
            margin-right: inherit;
        }

        &.active {
            pointer-events: none;
        }
    }
}
