<div #croppieContainer></div>
<div class="mb-1">
    <span *ngIf="choosedFile">{{choosedFile.name}}</span>
    <span *ngIf="!choosedFile" class="text-secondary">Image is not selected, choose image first</span>
</div>
<div>
    <button type="button" class="btn btn-sm btn-primary" (click)="fileInput.click()" [disabled]="disabledChooseButton">
        <i class="fas fa-camera"></i>
        Choose file
    </button>
    <input type="file" style="display: none" accept="image/*" #fileInput (change)="onFileInputChange($event)"/>
</div>
