.title-image-in-list {
    width: 50px;
}

.visible-if-mouse-in-control {
    visibility: hidden;
}

.control-to-set-visibility:hover {
    .visible-if-mouse-in-control {
        visibility: visible;
    }
}
